In [572]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

In [573]:
# fetch data 

df = pd.read_excel('Detailed_Statistics_Arrivals_with_all_years.xlsx')
Actual_output = pd.read_csv('project csv(Apr 12-15)_actuals.csv')

#Train_data.head()

In [574]:
df.isna().sum()

Carrier Code                                 1
Date (MM/DD/YYYY)                            2
Flight Number                                2
Tail Number                                 59
Origin Airport                               3
Scheduled Arrival Time                       2
Actual Arrival Time                          2
Scheduled Elapsed Time (Minutes)             2
Actual Elapsed Time (Minutes)                2
Arrival Delay (Minutes)                      2
Wheels-on Time                               2
Taxi-In time (Minutes)                       2
Delay Carrier (Minutes)                      2
Delay Weather (Minutes)                      2
Delay National Aviation System (Minutes)     2
Delay Security (Minutes)                     2
Delay Late Aircraft Arrival (Minutes)        2
dummy                                        2
Temperature(celsius)                        12
Pressure(mb)                                12
Dew point(celsius)                          12
Wind Speed(m/s)                             12
Wind Direction(degrees)                     12
Precipitation(mm)                           12
Snowfall(mm)                                12
Cloud Cover(%)                              12
Humidity(%)                                 12
Solar radiaton ((W/m^2))                    12
UV Index(0-11+)                             12
Visibility(km)                              12
Weather Description                         12
Day/Night                                   12
dtype: int64

In [575]:
df.isna().sum()

Carrier Code                                 1
Date (MM/DD/YYYY)                            2
Flight Number                                2
Tail Number                                 59
Origin Airport                               3
Scheduled Arrival Time                       2
Actual Arrival Time                          2
Scheduled Elapsed Time (Minutes)             2
Actual Elapsed Time (Minutes)                2
Arrival Delay (Minutes)                      2
Wheels-on Time                               2
Taxi-In time (Minutes)                       2
Delay Carrier (Minutes)                      2
Delay Weather (Minutes)                      2
Delay National Aviation System (Minutes)     2
Delay Security (Minutes)                     2
Delay Late Aircraft Arrival (Minutes)        2
dummy                                        2
Temperature(celsius)                        12
Pressure(mb)                                12
Dew point(celsius)                          12
Wind Speed(m/s)                             12
Wind Direction(degrees)                     12
Precipitation(mm)                           12
Snowfall(mm)                                12
Cloud Cover(%)                              12
Humidity(%)                                 12
Solar radiaton ((W/m^2))                    12
UV Index(0-11+)                             12
Visibility(km)                              12
Weather Description                         12
Day/Night                                   12
dtype: int64

In [576]:
df = df.dropna()

In [577]:
df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),...,Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),UV Index(0-11+),Visibility(km),Weather Description,Day/Night
0,UA,2022-01-01,"1,282.00",N4901U,IAD,23:10:00,00:01:00,70.00,76.00,51.00,...,300.00,1.00,0.00,100.00,95.00,0.00,0.00,10.00,Light rain,n
1,UA,2023-01-01,604.00,N814UA,DEN,14:58:00,14:52:00,193.00,177.00,-6.00,...,250.00,0.00,0.00,100.00,76.00,57.92,0.60,16.00,Overcast clouds,d
2,UA,2023-01-01,"2,488.00",N38458,EWR,23:14:00,23:15:00,75.00,62.00,1.00,...,330.00,0.00,0.00,100.00,85.00,0.00,0.00,13.00,Overcast clouds,n
3,UA,2023-01-01,"2,645.00",N23721,ORD,23:57:00,23:47:00,107.00,100.00,-10.00,...,330.00,0.00,0.00,100.00,85.00,0.00,0.00,13.00,Overcast clouds,n
4,UA,2022-01-02,"1,282.00",N4901U,IAD,23:10:00,23:27:00,70.00,64.00,17.00,...,290.00,0.00,0.00,100.00,91.00,0.00,0.00,10.00,Overcast clouds,n

In [578]:
df.dtypes

Carrier Code                                        object
Date (MM/DD/YYYY)                           datetime64[ns]
Flight Number                                      float64
Tail Number                                         object
Origin Airport                                      object
Scheduled Arrival Time                              object
Actual Arrival Time                                 object
Scheduled Elapsed Time (Minutes)                   float64
Actual Elapsed Time (Minutes)                      float64
Arrival Delay (Minutes)                            float64
Wheels-on Time                                      object
Taxi-In time (Minutes)                             float64
Delay Carrier (Minutes)                            float64
Delay Weather (Minutes)                            float64
Delay National Aviation System (Minutes)           float64
Delay Security (Minutes)                           float64
Delay Late Aircraft Arrival (Minutes)              float64
dummy                                               object
Temperature(celsius)                               float64
Pressure(mb)                                       float64
Dew point(celsius)                                 float64
Wind Speed(m/s)                                    float64
Wind Direction(degrees)                            float64
Precipitation(mm)                                  float64
Snowfall(mm)                                       float64
Cloud Cover(%)                                     float64
Humidity(%)                                        float64
Solar radiaton ((W/m^2))                           float64
UV Index(0-11+)                                    float64
Visibility(km)                                     float64
Weather Description                                 object
Day/Night                                           object
dtype: object

In [579]:
subset_data=df.drop(columns=['Carrier Code','Flight Number','Tail Number','Wheels-on Time','Weather Description'])

In [580]:
#subset_data = df[['Date (MM/DD/YYYY)','Origin Airport','Flight Number','Scheduled Arrival Time','Arrival Delay (Minutes)']]

In [581]:
subset_data.dtypes

Date (MM/DD/YYYY)                           datetime64[ns]
Origin Airport                                      object
Scheduled Arrival Time                              object
Actual Arrival Time                                 object
Scheduled Elapsed Time (Minutes)                   float64
Actual Elapsed Time (Minutes)                      float64
Arrival Delay (Minutes)                            float64
Taxi-In time (Minutes)                             float64
Delay Carrier (Minutes)                            float64
Delay Weather (Minutes)                            float64
Delay National Aviation System (Minutes)           float64
Delay Security (Minutes)                           float64
Delay Late Aircraft Arrival (Minutes)              float64
dummy                                               object
Temperature(celsius)                               float64
Pressure(mb)                                       float64
Dew point(celsius)                                 float64
Wind Speed(m/s)                                    float64
Wind Direction(degrees)                            float64
Precipitation(mm)                                  float64
Snowfall(mm)                                       float64
Cloud Cover(%)                                     float64
Humidity(%)                                        float64
Solar radiaton ((W/m^2))                           float64
UV Index(0-11+)                                    float64
Visibility(km)                                     float64
Day/Night                                           object
dtype: object

In [582]:
# Convert the date column to datetime type

subset_data['Day'] = subset_data['Date (MM/DD/YYYY)'].dt.strftime('%A')

In [583]:
subset_data=subset_data.drop(columns=['Date (MM/DD/YYYY)'])

In [584]:
import pandas as pd

# Access the 'Scheduled Arrival Time' column in subset_data DataFrame
time_col = subset_data['Scheduled Arrival Time']

# Extract hours, minutes, and seconds components from datetime.time objects
hours = []
minutes = []


for time_obj in time_col:
    hours.append(time_obj.hour)
    minutes.append(time_obj.minute)
    

# Create new columns in the DataFrame for hours, minutes, and seconds
subset_data['Scheduled_Arrival_hours'] = hours
subset_data['Scheduled_Arrival_minutes'] = minutes

In [585]:
time_col = subset_data['Actual Arrival Time']

# Extract hours, minutes, and seconds components from datetime.time objects
hours = []
minutes = []


for time_obj in time_col:
    hours.append(time_obj.hour)
    minutes.append(time_obj.minute)
    

# Create new columns in the DataFrame for hours, minutes, and seconds
subset_data['Actual_Arrival_hours'] = hours
subset_data['Actual_Arrival_minutes'] = minutes

time_col = subset_data['Actual departure time']

# Extract hours, minutes, and seconds components from datetime.time objects
hours = []
minutes = []


for time_obj in time_col:
    hours.append(time_obj.hour)
    minutes.append(time_obj.minute)
    

# Create new columns in the DataFrame for hours, minutes, and seconds
subset_data['Actual_departure_hours'] = hours
subset_data['Actual_departure_minutes'] = minutes

time_col = subset_data['Scheduled departure time']

# Extract hours, minutes, and seconds components from datetime.time objects
hours = []
minutes = []


for time_obj in time_col:
    hours.append(time_obj.hour)
    minutes.append(time_obj.minute)
    

# Create new columns in the DataFrame for hours, minutes, and seconds
subset_data['Scheduled_departure_hours'] = hours
subset_data['Scheduled_departure_minutes'] = minutes

In [586]:
subset_data = subset_data.drop(columns = ['Scheduled Arrival Time','Actual Arrival Time','dummy'])

In [587]:
subset_data.dtypes

Origin Airport                               object
Scheduled Elapsed Time (Minutes)            float64
Actual Elapsed Time (Minutes)               float64
Arrival Delay (Minutes)                     float64
Taxi-In time (Minutes)                      float64
Delay Carrier (Minutes)                     float64
Delay Weather (Minutes)                     float64
Delay National Aviation System (Minutes)    float64
Delay Security (Minutes)                    float64
Delay Late Aircraft Arrival (Minutes)       float64
Temperature(celsius)                        float64
Pressure(mb)                                float64
Dew point(celsius)                          float64
Wind Speed(m/s)                             float64
Wind Direction(degrees)                     float64
Precipitation(mm)                           float64
Snowfall(mm)                                float64
Cloud Cover(%)                              float64
Humidity(%)                                 float64
Solar radiaton ((W/m^2))                    float64
UV Index(0-11+)                             float64
Visibility(km)                              float64
Day/Night                                    object
Day                                          object
Scheduled_Arrival_hours                       int64
Scheduled_Arrival_minutes                     int64
Actual_Arrival_hours                          int64
Actual_Arrival_minutes                        int64
dtype: object

In [588]:
subset_data=pd.get_dummies(subset_data, drop_first=True)

In [589]:
subset_data.dtypes

Scheduled Elapsed Time (Minutes)            float64
Actual Elapsed Time (Minutes)               float64
Arrival Delay (Minutes)                     float64
Taxi-In time (Minutes)                      float64
Delay Carrier (Minutes)                     float64
Delay Weather (Minutes)                     float64
Delay National Aviation System (Minutes)    float64
Delay Security (Minutes)                    float64
Delay Late Aircraft Arrival (Minutes)       float64
Temperature(celsius)                        float64
Pressure(mb)                                float64
Dew point(celsius)                          float64
Wind Speed(m/s)                             float64
Wind Direction(degrees)                     float64
Precipitation(mm)                           float64
Snowfall(mm)                                float64
Cloud Cover(%)                              float64
Humidity(%)                                 float64
Solar radiaton ((W/m^2))                    float64
UV Index(0-11+)                             float64
Visibility(km)                              float64
Scheduled_Arrival_hours                       int64
Scheduled_Arrival_minutes                     int64
Actual_Arrival_hours                          int64
Actual_Arrival_minutes                        int64
Origin Airport_EWR                            uint8
Origin Airport_IAD                            uint8
Origin Airport_ORD                            uint8
Day/Night_n                                   uint8
Day_Monday                                    uint8
Day_Saturday                                  uint8
Day_Sunday                                    uint8
Day_Thursday                                  uint8
Day_Tuesday                                   uint8
Day_Wednesday                                 uint8
dtype: object

In [590]:
subset_data['Day_Friday']=0
subset_data['Day_Friday'] = subset_data['Day_Friday'].astype('uint8')

In [591]:
#X_train = subset_data.drop(columns=['Scheduled_Arrival_hours','Scheduled_Arrival_minutes'])
X_train = subset_data

In [592]:
y_train = subset_data['Scheduled_Arrival_minutes']

In [593]:
Test_data = pd.read_csv('project csv(Apr 12-15)-3.csv')


Test_data['Arrival Delay (Minutes)'] = 0
#Test_data['Scheduled_Arrival_minutes'] =0
Test_data

,Date,Day,Origin Airport,Flight Number,Scheduled Arrival Time,"Status (Early, On-time, Late, Severly Late)",dummy,Pressure(mb),Temperature(celsius),Dew point(celsius),...,Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),UV Index(0-11+),Visibility(km),Weather Description,Day/Night,Arrival Delay (Minutes)
0,4/12/2023,Wednesday,ORD,UA 3839,10:00 AM,NaN,04/12/2023:10,997.70,13.30,1.60,...,0,0,100,45,0.00,0.00,16,Overcast clouds,n,0
1,4/12/2023,Wednesday,ORD,UA 3524,4:52 PM,NaN,04/12/2023:16,997.40,18.90,2.70,...,0,0,50,34,116.65,4.80,16,Broken clouds,d,0
2,4/12/2023,Wednesday,ORD,UA 538,9:34 PM,NaN,04/12/2023:21,993.30,26.70,7.20,...,0,0,50,29,91.55,2.00,16,Broken clouds,d,0
3,4/13/2023,Thursday,ORD,UA 3839,10:00 AM,NaN,04/13/2023:10,995.00,16.70,5.90,...,0,0,0,49,0.00,0.00,16,Clear Sky,n,0
4,4/13/2023,Thursday,ORD,UA 3524,4:50 PM,NaN,04/13/2023:16,995.70,26.70,7.70,...,0,0,0,30,116.84,7.30,16,Clear Sky,d,0
5,4/13/2023,Thursday,ORD,UA 538,9:34 PM,NaN,04/13/2023:21,993.60,29.40,7.90,...,0,0,0,26,91.80,3.10,16,Clear Sky,d,0
6,4/14/2023,Friday,ORD,UA 3839,10:00 AM,NaN,04/14/2023:10,997.00,13.00,4.90,...,0,0,43,58,0.00,0.00,16,Broken clouds,n,0
7,4/14/2023,Friday,ORD,UA 3524,4:50 PM,NaN,04/14/2023:16,998.60,26.00,6.60,...,0,0,0,29,117.02,7.40,16,Clear Sky,d,0
8,4/14/2023,Friday,ORD,UA 538,9:34 PM,NaN,04/14/2023:21,996.10,29.00,6.40,...,0,0,0,24,92.05,3.10,16,Clear Sky,d,0
9,4/15/2023,Saturday,ORD,UA 3839,10:00 AM,NaN,04/15/2023:10,994.60,12.00,6.90,...,0,0,89,71,0.00,0.00,16,Overcast clouds,n,0
10,4/15/2023,Saturday,ORD,UA 3524,4:50 PM,NaN,04/15/2023:16,995.30,27.00,10.70,...,0,0,0,36,117.19,7.50,16,Clear Sky,d,0
11,4/15/2023,Saturday,ORD,UA 538,9:34 PM,NaN,04/15/2023:21,993.10,29.00,8.70,...,0,0,93,28,92.29,1.10,16,Overcast clouds,d,0
12,4/12/2023,Wednesday,DEN,UA 604,3:12 PM,NaN,04/12/2023:15,998.00,17.20,0.80,...,0,0,68,33,111.39,3.10,16,Broken clouds,d,0
13,4/13/2023,Thursday,DEN,UA 604,3:12 PM,NaN,04/13/2023:15,996.00,25.00,6.70,...,0,0,0,31,111.61,6.00,16,Clear Sky,d,0
14,4/14/2023,Friday,DEN,UA 604,3:12 PM,NaN,04/14/2023:15,998.50,24.00,5.80,...,0,0,10,31,111.83,5.60,16,Few clouds,d,0
15,4/15/2023,Saturday,DEN,UA 604,3:12 PM,NaN,04/15/2023:15,996.00,26.00,8.90,...,0,0,15,34,112.04,5.50,16,Few clouds,d,0
16,4/12/2023,Wednesday,EWR,UA 4189,10:46 AM,NaN,04/12/2023:10,997.70,13.30,1.60,...,0,0,100,45,0.00,0.00,16,Overcast clouds,n,0
17,4/12/2023,Wednesday,EWR,UA 1412,11:42 PM,NaN,04/12/2023:23,993.40,25.00,5.70,...,0,0,50,29,42.87,1.20,16,Broken clouds,d,0
18,4/13/2023,Thursday,EWR,UA 4189,10:46 AM,NaN,04/13/2023:10,995.00,16.70,5.90,...,0,0,0,49,0.00,0.00,16,Clear Sky,n,0
19,4/13/2023,Thursday,EWR,UA 1412,11:42 PM,NaN,04/13/2023:23,994.00,27.80,4.80,...,0,0,25,23,43.57,1.50,16,Scattered clouds,d,0
20,4/14/2023,Friday,EWR,UA 4189,10:46 AM,NaN,04/14/2023:10,997.00,13.00,4.90,...,0,0,43,58,0.00,0.00,16,Broken clouds,n,0
21,4/14/2023,Friday,EWR,UA 1412,11:42 PM,NaN,04/14/2023:23,995.70,27.00,4.70,...,0,0,49,24,44.26,1.20,16,Broken clouds,d,0
22,4/15/2023,Saturday,EWR,UA 4189,10:46 AM,NaN,04/15/2023:10,994.60,12.00,6.90,...,0,0,89,71,0.00,0.00,16,Overcast clouds,n,0
23,4/15/2023,Saturday,EWR,UA 1412,11:17 PM,NaN,04/15/2023:23,993.70,27.00,10.70,...,0,0,56,36,44.94,1.10,16,Broken clouds,d,0
24,4/12/2023,Wednesday,IAD,UA 4490,1:57 PM,NaN,04/12/2023:13,998.70,14.40,2.00,...,0,0,87,43,88.77,1.10,16,Overcast clouds,d,0
25,4/12/2023,Wednesday,IAD,UA 4165,6:59 PM,NaN,04/12/2023:18,995.00,23.90,6.70,...,0,0,37,33,117.22,5.50,16,Scattered clouds,d,0
26,4/13/2023,Thursday,IAD,UA 4490,1:57 PM,NaN,04/13/2023:13,996.00,22.80,6.60,...,0,0,0,35,89.17,2.90,16,Clear Sky,d,0
27,4/13/2023,Thursday,IAD,UA 4165,6:59 PM,NaN,04/13/2023:18,995.00,28.30,8.10,...,0,0,0,28,117.37,7.50,16,Clear Sky,d,0
28,4/14/2023,Friday,IAD,UA 4490,1:57 PM,NaN,04/14/2023:13,998.20,17.00,6.80,...,0,0,58,51,89.56,1.80,16,Broken clouds,d,0
29,4/14/2023,Friday,IAD,UA 4165,6:59 PM,NaN,04/14/2023:18,"1,000.60",28.00,5.60,...,0,0,6,24,117.52,7.30,16,Few clouds,d,0
30,4/15/2023,Saturday,IAD,UA 3805,1:58 PM,NaN,04/15/2023:13,995.90,17.00,8.90,...,0,0,23,59,89.95,2.50,16,Scattered clouds,d,0
31,4/15/2023,Saturday,IAD,UA 4165,6:59 PM,NaN,04/15/2023:18,994.40,29.00,9.70,...,0,0,0,30,117.67,7.60,16,Clear Sky,d,0

In [594]:
Test_data.isna().sum()

Date                                            0
Day                                             0
Origin Airport                                  0
Flight Number                                   0
Scheduled Arrival Time                          0
Status (Early, On-time, Late, Severly Late)    32
dummy                                           0
Pressure(mb)                                    0
Temperature(celsius)                            0
Dew point(celsius)                              0
Wind Speed(m/s)                                 0
Wind Direction(degrees)                         0
Precipitation(mm)                               0
Snowfall(mm)                                    0
Cloud Cover(%)                                  0
Humidity(%)                                     0
Solar radiaton ((W/m^2))                        0
UV Index(0-11+)                                 0
Visibility(km)                                  0
Weather Description                             0
Day/Night                                       0
Arrival Delay (Minutes)                         0
dtype: int64

In [595]:
Test_data.dtypes

Date                                            object
Day                                             object
Origin Airport                                  object
Flight Number                                   object
Scheduled Arrival Time                          object
Status (Early, On-time, Late, Severly Late)    float64
dummy                                           object
Pressure(mb)                                   float64
Temperature(celsius)                           float64
Dew point(celsius)                             float64
Wind Speed(m/s)                                float64
Wind Direction(degrees)                          int64
Precipitation(mm)                                int64
Snowfall(mm)                                     int64
Cloud Cover(%)                                   int64
Humidity(%)                                      int64
Solar radiaton ((W/m^2))                       float64
UV Index(0-11+)                                float64
Visibility(km)                                   int64
Weather Description                             object
Day/Night                                       object
Arrival Delay (Minutes)                          int64
dtype: object

In [596]:


Test_data = Test_data.drop(columns = ['Flight Number','Date','dummy','Weather Description'])

In [597]:
Test_data.dtypes

Day                                             object
Origin Airport                                  object
Scheduled Arrival Time                          object
Status (Early, On-time, Late, Severly Late)    float64
Pressure(mb)                                   float64
Temperature(celsius)                           float64
Dew point(celsius)                             float64
Wind Speed(m/s)                                float64
Wind Direction(degrees)                          int64
Precipitation(mm)                                int64
Snowfall(mm)                                     int64
Cloud Cover(%)                                   int64
Humidity(%)                                      int64
Solar radiaton ((W/m^2))                       float64
UV Index(0-11+)                                float64
Visibility(km)                                   int64
Day/Night                                       object
Arrival Delay (Minutes)                          int64
dtype: object

In [598]:
from datetime import datetime

# Access the 'Scheduled Arrival Time' column in subset_data DataFrame
time_str = Test_data['Scheduled Arrival Time']

# Use the .apply() method to apply datetime.strptime() to each element of the Series
time_col = time_str.apply(lambda x: datetime.strptime(x, "%I:%M %p").time())

# Extract hours, minutes, and seconds components from datetime.time objects
hours = []
minutes = []

for time_obj in time_col:
    hours.append(time_obj.hour)
    minutes.append(time_obj.minute)

# Create new columns in the DataFrame for hours, minutes, and seconds
Test_data['Scheduled_Arrival_hours'] = hours
Test_data['Scheduled_Arrival_minutes'] = minutes

In [599]:
Test_data = Test_data.drop(columns=['Scheduled Arrival Time'])

In [600]:
Test_data

,Day,Origin Airport,"Status (Early, On-time, Late, Severly Late)",Pressure(mb),Temperature(celsius),Dew point(celsius),Wind Speed(m/s),Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),UV Index(0-11+),Visibility(km),Day/Night,Arrival Delay (Minutes),Scheduled_Arrival_hours,Scheduled_Arrival_minutes
0,Wednesday,ORD,NaN,997.70,13.30,1.60,2.60,280,0,0,100,45,0.00,0.00,16,n,0,10,0
1,Wednesday,ORD,NaN,997.40,18.90,2.70,2.60,260,0,0,50,34,116.65,4.80,16,d,0,16,52
2,Wednesday,ORD,NaN,993.30,26.70,7.20,8.20,270,0,0,50,29,91.55,2.00,16,d,0,21,34
3,Thursday,ORD,NaN,995.00,16.70,5.90,3.60,230,0,0,0,49,0.00,0.00,16,n,0,10,0
4,Thursday,ORD,NaN,995.70,26.70,7.70,5.10,260,0,0,0,30,116.84,7.30,16,d,0,16,50
5,Thursday,ORD,NaN,993.60,29.40,7.90,7.70,280,0,0,0,26,91.80,3.10,16,d,0,21,34
6,Friday,ORD,NaN,997.00,13.00,4.90,1.00,0,0,0,43,58,0.00,0.00,16,n,0,10,0
7,Friday,ORD,NaN,998.60,26.00,6.60,2.06,310,0,0,0,29,117.02,7.40,16,d,0,16,50
8,Friday,ORD,NaN,996.10,29.00,6.40,2.57,80,0,0,0,24,92.05,3.10,16,d,0,21,34
9,Saturday,ORD,NaN,994.60,12.00,6.90,1.54,100,0,0,89,71,0.00,0.00,16,n,0,10,0
10,Saturday,ORD,NaN,995.30,27.00,10.70,2.57,10,0,0,0,36,117.19,7.50,16,d,0,16,50
11,Saturday,ORD,NaN,993.10,29.00,8.70,3.09,10,0,0,93,28,92.29,1.10,16,d,0,21,34
12,Wednesday,DEN,NaN,998.00,17.20,0.80,2.60,255,0,0,68,33,111.39,3.10,16,d,0,15,12
13,Thursday,DEN,NaN,996.00,25.00,6.70,6.70,260,0,0,0,31,111.61,6.00,16,d,0,15,12
14,Friday,DEN,NaN,998.50,24.00,5.80,1.54,320,0,0,10,31,111.83,5.60,16,d,0,15,12
15,Saturday,DEN,NaN,996.00,26.00,8.90,1.54,60,0,0,15,34,112.04,5.50,16,d,0,15,12
16,Wednesday,EWR,NaN,997.70,13.30,1.60,2.60,280,0,0,100,45,0.00,0.00,16,n,0,10,46
17,Wednesday,EWR,NaN,993.40,25.00,5.70,9.30,270,0,0,50,29,42.87,1.20,16,d,0,23,42
18,Thursday,EWR,NaN,995.00,16.70,5.90,3.60,230,0,0,0,49,0.00,0.00,16,n,0,10,46
19,Thursday,EWR,NaN,994.00,27.80,4.80,4.60,270,0,0,25,23,43.57,1.50,16,d,0,23,42
20,Friday,EWR,NaN,997.00,13.00,4.90,1.00,0,0,0,43,58,0.00,0.00,16,n,0,10,46
21,Friday,EWR,NaN,995.70,27.00,4.70,1.54,20,0,0,49,24,44.26,1.20,16,d,0,23,42
22,Saturday,EWR,NaN,994.60,12.00,6.90,1.54,100,0,0,89,71,0.00,0.00,16,n,0,10,46
23,Saturday,EWR,NaN,993.70,27.00,10.70,3.09,210,0,0,56,36,44.94,1.10,16,d,0,23,17
24,Wednesday,IAD,NaN,998.70,14.40,2.00,3.10,250,0,0,87,43,88.77,1.10,16,d,0,13,57
25,Wednesday,IAD,NaN,995.00,23.90,6.70,5.10,280,0,0,37,33,117.22,5.50,16,d,0,18,59
26,Thursday,IAD,NaN,996.00,22.80,6.60,4.60,250,0,0,0,35,89.17,2.90,16,d,0,13,57
27,Thursday,IAD,NaN,995.00,28.30,8.10,7.20,240,0,0,0,28,117.37,7.50,16,d,0,18,59
28,Friday,IAD,NaN,998.20,17.00,6.80,1.00,0,0,0,58,51,89.56,1.80,16,d,0,13,57
29,Friday,IAD,NaN,"1,000.60",28.00,5.60,1.00,0,0,0,6,24,117.52,7.30,16,d,0,18,59
30,Saturday,IAD,NaN,995.90,17.00,8.90,1.54,60,0,0,23,59,89.95,2.50,16,d,0,13,58
31,Saturday,IAD,NaN,994.40,29.00,9.70,1.54,60,0,0,0,30,117.67,7.60,16,d,0,18,59

In [601]:
Test_data=pd.get_dummies(Test_data, drop_first=True)
Test_data.dtypes

Status (Early, On-time, Late, Severly Late)    float64
Pressure(mb)                                   float64
Temperature(celsius)                           float64
Dew point(celsius)                             float64
Wind Speed(m/s)                                float64
Wind Direction(degrees)                          int64
Precipitation(mm)                                int64
Snowfall(mm)                                     int64
Cloud Cover(%)                                   int64
Humidity(%)                                      int64
Solar radiaton ((W/m^2))                       float64
UV Index(0-11+)                                float64
Visibility(km)                                   int64
Arrival Delay (Minutes)                          int64
Scheduled_Arrival_hours                          int64
Scheduled_Arrival_minutes                        int64
Day_Saturday                                     uint8
Day_Thursday                                     uint8
Day_Wednesday                                    uint8
Origin Airport_EWR                               uint8
Origin Airport_IAD                               uint8
Origin Airport_ORD                               uint8
Day/Night_n                                      uint8
dtype: object

In [602]:
Test_data['Day_Monday'] =0
Test_data['Day_Tuesday'] =0
Test_data['Day_Friday'] =0
Test_data['Day_Sunday'] =0

Test_data['Day_Monday'] =Test_data['Day_Monday'].astype('uint8')
Test_data['Day_Tuesday'] = Test_data['Day_Tuesday'].astype('uint8')
Test_data['Day_Friday'] = Test_data['Day_Friday'].astype('uint8')
Test_data['Day_Sunday'] = Test_data['Day_Sunday'].astype('uint8')

In [603]:
Test_data.dtypes

Status (Early, On-time, Late, Severly Late)    float64
Pressure(mb)                                   float64
Temperature(celsius)                           float64
Dew point(celsius)                             float64
Wind Speed(m/s)                                float64
Wind Direction(degrees)                          int64
Precipitation(mm)                                int64
Snowfall(mm)                                     int64
Cloud Cover(%)                                   int64
Humidity(%)                                      int64
Solar radiaton ((W/m^2))                       float64
UV Index(0-11+)                                float64
Visibility(km)                                   int64
Arrival Delay (Minutes)                          int64
Scheduled_Arrival_hours                          int64
Scheduled_Arrival_minutes                        int64
Day_Saturday                                     uint8
Day_Thursday                                     uint8
Day_Wednesday                                    uint8
Origin Airport_EWR                               uint8
Origin Airport_IAD                               uint8
Origin Airport_ORD                               uint8
Day/Night_n                                      uint8
Day_Monday                                       uint8
Day_Tuesday                                      uint8
Day_Friday                                       uint8
Day_Sunday                                       uint8
dtype: object

In [604]:
X_test = Test_data

In [605]:
len(X_train.columns)
len(X_test.columns)

36

27

In [606]:
X_train.columns
X_test.columns

Index(['Scheduled Elapsed Time (Minutes)', 'Actual Elapsed Time (Minutes)',
       'Arrival Delay (Minutes)', 'Taxi-In time (Minutes)',
       'Delay Carrier (Minutes)', 'Delay Weather (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)', 'Temperature(celsius)',
       'Pressure(mb)', 'Dew point(celsius)', 'Wind Speed(m/s)',
       'Wind Direction(degrees)', 'Precipitation(mm)', 'Snowfall(mm)',
       'Cloud Cover(%)', 'Humidity(%)', 'Solar radiaton ((W/m^2))',
       'UV Index(0-11+)', 'Visibility(km)', 'Scheduled_Arrival_hours',
       'Scheduled_Arrival_minutes', 'Actual_Arrival_hours',
       'Actual_Arrival_minutes', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday', 'Day_Saturday',
       'Day_Sunday', 'Day_Thursday', 'Day_Tuesday', 'Day_Wednesday',
       'Day_Friday'],
      dtype='object')

Index(['Status (Early, On-time, Late, Severly Late)', 'Pressure(mb)',
       'Temperature(celsius)', 'Dew point(celsius)', 'Wind Speed(m/s)',
       'Wind Direction(degrees)', 'Precipitation(mm)', 'Snowfall(mm)',
       'Cloud Cover(%)', 'Humidity(%)', 'Solar radiaton ((W/m^2))',
       'UV Index(0-11+)', 'Visibility(km)', 'Arrival Delay (Minutes)',
       'Scheduled_Arrival_hours', 'Scheduled_Arrival_minutes', 'Day_Saturday',
       'Day_Thursday', 'Day_Wednesday', 'Origin Airport_EWR',
       'Origin Airport_IAD', 'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday',
       'Day_Tuesday', 'Day_Friday', 'Day_Sunday'],
      dtype='object')

Test_data['Weather Description_Flurries'] =0
Test_data['Weather Description_Fog'] =0
Test_data['Weather Description_Freezing rain'] =0
Test_data['Weather Description_Haze'] =0
Test_data['Weather Description_Heavy rain'] =0
Test_data['Weather Description_Heavy snow'] =0
Test_data['Weather Description_Light rain'] =0
Test_data['Weather Description_Light snow'] =0
Test_data['Weather Description_Mix snow/rain'] =0
Test_data['Weather Description_Moderate rain'] =0
Test_data['Weather Description_Freezing rain'] =0
Test_data['Weather Description_Sleet'] =0
Test_data['Weather Description_Snow'] =0
Test_data['Weather Description_Thunderstorm with heavy rain'] =0

In [607]:
Test_data.dtypes

Status (Early, On-time, Late, Severly Late)    float64
Pressure(mb)                                   float64
Temperature(celsius)                           float64
Dew point(celsius)                             float64
Wind Speed(m/s)                                float64
Wind Direction(degrees)                          int64
Precipitation(mm)                                int64
Snowfall(mm)                                     int64
Cloud Cover(%)                                   int64
Humidity(%)                                      int64
Solar radiaton ((W/m^2))                       float64
UV Index(0-11+)                                float64
Visibility(km)                                   int64
Arrival Delay (Minutes)                          int64
Scheduled_Arrival_hours                          int64
Scheduled_Arrival_minutes                        int64
Day_Saturday                                     uint8
Day_Thursday                                     uint8
Day_Wednesday                                    uint8
Origin Airport_EWR                               uint8
Origin Airport_IAD                               uint8
Origin Airport_ORD                               uint8
Day/Night_n                                      uint8
Day_Monday                                       uint8
Day_Tuesday                                      uint8
Day_Friday                                       uint8
Day_Sunday                                       uint8
dtype: object

Test_data['Weather Description_Flurries'] =Test_data['Weather Description_Flurries'].astype('uint8')
Test_data['Weather Description_Fog'] = Test_data['Weather Description_Fog'].astype('uint8')
Test_data['Weather Description_Freezing rain'] = Test_data['Weather Description_Freezing rain'].astype('uint8')
Test_data['Weather Description_Haze'] = Test_data['Weather Description_Haze'].astype('uint8')
Test_data['Weather Description_Heavy rain'] =Test_data['Weather Description_Heavy rain'].astype('uint8')
Test_data['Weather Description_Heavy snow'] = Test_data['Weather Description_Heavy snow'].astype('uint8')
Test_data['Weather Description_Light rain'] = Test_data['Weather Description_Light rain'].astype('uint8')
Test_data['Weather Description_Light snow'] = Test_data['Weather Description_Light snow'].astype('uint8')
Test_data['Weather Description_Mix snow/rain'] =Test_data['Weather Description_Mix snow/rain'].astype('uint8')
Test_data['Weather Description_Moderate rain'] = Test_data['Weather Description_Moderate rain'].astype('uint8')
Test_data['Weather Description_Sleet'] = Test_data['Weather Description_Sleet'].astype('uint8')
Test_data['Weather Description_Snow'] = Test_data['Weather Description_Snow'].astype('uint8')
Test_data['Weather Description_Snow'] =Test_data['Weather Description_Snow'].astype('uint8')
Test_data['Weather Description_Thunderstorm with heavy rain'] = Test_data['Weather Description_Thunderstorm with heavy rain'].astype('uint8')

In [608]:
X_train.columns
X_test.columns

Index(['Scheduled Elapsed Time (Minutes)', 'Actual Elapsed Time (Minutes)',
       'Arrival Delay (Minutes)', 'Taxi-In time (Minutes)',
       'Delay Carrier (Minutes)', 'Delay Weather (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)', 'Temperature(celsius)',
       'Pressure(mb)', 'Dew point(celsius)', 'Wind Speed(m/s)',
       'Wind Direction(degrees)', 'Precipitation(mm)', 'Snowfall(mm)',
       'Cloud Cover(%)', 'Humidity(%)', 'Solar radiaton ((W/m^2))',
       'UV Index(0-11+)', 'Visibility(km)', 'Scheduled_Arrival_hours',
       'Scheduled_Arrival_minutes', 'Actual_Arrival_hours',
       'Actual_Arrival_minutes', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday', 'Day_Saturday',
       'Day_Sunday', 'Day_Thursday', 'Day_Tuesday', 'Day_Wednesday',
       'Day_Friday'],
      dtype='object')

Index(['Status (Early, On-time, Late, Severly Late)', 'Pressure(mb)',
       'Temperature(celsius)', 'Dew point(celsius)', 'Wind Speed(m/s)',
       'Wind Direction(degrees)', 'Precipitation(mm)', 'Snowfall(mm)',
       'Cloud Cover(%)', 'Humidity(%)', 'Solar radiaton ((W/m^2))',
       'UV Index(0-11+)', 'Visibility(km)', 'Arrival Delay (Minutes)',
       'Scheduled_Arrival_hours', 'Scheduled_Arrival_minutes', 'Day_Saturday',
       'Day_Thursday', 'Day_Wednesday', 'Origin Airport_EWR',
       'Origin Airport_IAD', 'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday',
       'Day_Tuesday', 'Day_Friday', 'Day_Sunday'],
      dtype='object')

In [609]:
X_train= X_train[['Pressure(mb)',
       'Temperature(celsius)', 'Dew point(celsius)', 'Wind Speed(m/s)',
       'Wind Direction(degrees)', 'Precipitation(mm)', 'Snowfall(mm)',
       'Cloud Cover(%)', 'Humidity(%)', 'Solar radiaton ((W/m^2))',
       'UV Index(0-11+)', 'Visibility(km)', 'Arrival Delay (Minutes)',
       'Scheduled_Arrival_hours', 'Scheduled_Arrival_minutes', 'Day_Saturday',
       'Day_Thursday', 'Day_Wednesday', 'Origin Airport_EWR',
       'Origin Airport_IAD', 'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday',
       'Day_Tuesday', 'Day_Friday', 'Day_Sunday']]

In [610]:
X_test= X_test.drop(columns=['Status (Early, On-time, Late, Severly Late)'])

In [611]:
X_train.columns
X_test.columns

Index(['Pressure(mb)', 'Temperature(celsius)', 'Dew point(celsius)',
       'Wind Speed(m/s)', 'Wind Direction(degrees)', 'Precipitation(mm)',
       'Snowfall(mm)', 'Cloud Cover(%)', 'Humidity(%)',
       'Solar radiaton ((W/m^2))', 'UV Index(0-11+)', 'Visibility(km)',
       'Arrival Delay (Minutes)', 'Scheduled_Arrival_hours',
       'Scheduled_Arrival_minutes', 'Day_Saturday', 'Day_Thursday',
       'Day_Wednesday', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday', 'Day_Tuesday',
       'Day_Friday', 'Day_Sunday'],
      dtype='object')

Index(['Pressure(mb)', 'Temperature(celsius)', 'Dew point(celsius)',
       'Wind Speed(m/s)', 'Wind Direction(degrees)', 'Precipitation(mm)',
       'Snowfall(mm)', 'Cloud Cover(%)', 'Humidity(%)',
       'Solar radiaton ((W/m^2))', 'UV Index(0-11+)', 'Visibility(km)',
       'Arrival Delay (Minutes)', 'Scheduled_Arrival_hours',
       'Scheduled_Arrival_minutes', 'Day_Saturday', 'Day_Thursday',
       'Day_Wednesday', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD', 'Day/Night_n', 'Day_Monday', 'Day_Tuesday',
       'Day_Friday', 'Day_Sunday'],
      dtype='object')

In [612]:
len(X_train.columns)
len(X_test.columns)

26

26

In [613]:
y_train = X_train['Arrival Delay (Minutes)']
X_train = X_train.drop(columns = ['Arrival Delay (Minutes)'])

In [614]:
y_test = X_test['Arrival Delay (Minutes)']
X_test  = X_test.drop(columns = ['Arrival Delay (Minutes)'])

In [615]:

X_train
X_test
y_train
y_test

,Pressure(mb),Temperature(celsius),Dew point(celsius),Wind Speed(m/s),Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),...,Day_Thursday,Day_Wednesday,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD,Day/Night_n,Day_Monday,Day_Tuesday,Day_Friday,Day_Sunday
0,991.30,6.70,6.00,3.10,300.00,1.00,0.00,100.00,95.00,0.00,...,0,0,0,1,0,1,0,0,0,0
1,999.70,4.40,0.60,3.60,250.00,0.00,0.00,100.00,76.00,57.92,...,0,0,0,0,0,0,0,0,0,1
2,"1,000.00",3.90,1.60,2.10,330.00,0.00,0.00,100.00,85.00,0.00,...,0,0,1,0,0,1,0,0,0,1
3,"1,000.00",3.90,1.60,2.10,330.00,0.00,0.00,100.00,85.00,0.00,...,0,0,0,0,1,1,0,0,0,1
4,"1,002.40",-4.40,-5.60,4.10,290.00,0.00,0.00,100.00,91.00,0.00,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977,"1,002.30",15.60,6.10,3.60,200.00,0.00,0.00,68.00,53.00,35.56,...,0,0,0,0,1,0,0,0,0,0
1978,"1,002.40",13.90,4.80,4.10,200.00,0.00,0.00,50.00,54.00,0.00,...,0,0,1,0,0,1,0,0,0,0
1981,998.33,7.80,3.80,2.60,110.00,0.00,0.00,54.00,76.00,57.91,...,0,0,0,0,0,0,0,0,0,0
1982,993.00,11.70,9.30,2.60,120.00,2.00,0.00,16.00,85.00,36.15,...,0,0,0,0,1,0,0,0,0,0
1983,994.80,11.10,9.40,2.10,110.00,0.00,0.00,5.00,89.00,0.00,...,0,0,1,0,0,1,0,0,0,0

,Pressure(mb),Temperature(celsius),Dew point(celsius),Wind Speed(m/s),Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),...,Day_Thursday,Day_Wednesday,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD,Day/Night_n,Day_Monday,Day_Tuesday,Day_Friday,Day_Sunday
0,997.70,13.30,1.60,2.60,280,0,0,100,45,0.00,...,0,1,0,0,1,1,0,0,0,0
1,997.40,18.90,2.70,2.60,260,0,0,50,34,116.65,...,0,1,0,0,1,0,0,0,0,0
2,993.30,26.70,7.20,8.20,270,0,0,50,29,91.55,...,0,1,0,0,1,0,0,0,0,0
3,995.00,16.70,5.90,3.60,230,0,0,0,49,0.00,...,1,0,0,0,1,1,0,0,0,0
4,995.70,26.70,7.70,5.10,260,0,0,0,30,116.84,...,1,0,0,0,1,0,0,0,0,0
5,993.60,29.40,7.90,7.70,280,0,0,0,26,91.80,...,1,0,0,0,1,0,0,0,0,0
6,997.00,13.00,4.90,1.00,0,0,0,43,58,0.00,...,0,0,0,0,1,1,0,0,0,0
7,998.60,26.00,6.60,2.06,310,0,0,0,29,117.02,...,0,0,0,0,1,0,0,0,0,0
8,996.10,29.00,6.40,2.57,80,0,0,0,24,92.05,...,0,0,0,0,1,0,0,0,0,0
9,994.60,12.00,6.90,1.54,100,0,0,89,71,0.00,...,0,0,0,0,1,1,0,0,0,0
10,995.30,27.00,10.70,2.57,10,0,0,0,36,117.19,...,0,0,0,0,1,0,0,0,0,0
11,993.10,29.00,8.70,3.09,10,0,0,93,28,92.29,...,0,0,0,0,1,0,0,0,0,0
12,998.00,17.20,0.80,2.60,255,0,0,68,33,111.39,...,0,1,0,0,0,0,0,0,0,0
13,996.00,25.00,6.70,6.70,260,0,0,0,31,111.61,...,1,0,0,0,0,0,0,0,0,0
14,998.50,24.00,5.80,1.54,320,0,0,10,31,111.83,...,0,0,0,0,0,0,0,0,0,0
15,996.00,26.00,8.90,1.54,60,0,0,15,34,112.04,...,0,0,0,0,0,0,0,0,0,0
16,997.70,13.30,1.60,2.60,280,0,0,100,45,0.00,...,0,1,1,0,0,1,0,0,0,0
17,993.40,25.00,5.70,9.30,270,0,0,50,29,42.87,...,0,1,1,0,0,0,0,0,0,0
18,995.00,16.70,5.90,3.60,230,0,0,0,49,0.00,...,1,0,1,0,0,1,0,0,0,0
19,994.00,27.80,4.80,4.60,270,0,0,25,23,43.57,...,1,0,1,0,0,0,0,0,0,0
20,997.00,13.00,4.90,1.00,0,0,0,43,58,0.00,...,0,0,1,0,0,1,0,0,0,0
21,995.70,27.00,4.70,1.54,20,0,0,49,24,44.26,...,0,0,1,0,0,0,0,0,0,0
22,994.60,12.00,6.90,1.54,100,0,0,89,71,0.00,...,0,0,1,0,0,1,0,0,0,0
23,993.70,27.00,10.70,3.09,210,0,0,56,36,44.94,...,0,0,1,0,0,0,0,0,0,0
24,998.70,14.40,2.00,3.10,250,0,0,87,43,88.77,...,0,1,0,1,0,0,0,0,0,0
25,995.00,23.90,6.70,5.10,280,0,0,37,33,117.22,...,0,1,0,1,0,0,0,0,0,0
26,996.00,22.80,6.60,4.60,250,0,0,0,35,89.17,...,1,0,0,1,0,0,0,0,0,0
27,995.00,28.30,8.10,7.20,240,0,0,0,28,117.37,...,1,0,0,1,0,0,0,0,0,0
28,998.20,17.00,6.80,1.00,0,0,0,58,51,89.56,...,0,0,0,1,0,0,0,0,0,0
29,"1,000.60",28.00,5.60,1.00,0,0,0,6,24,117.52,...,0,0,0,1,0,0,0,0,0,0
30,995.90,17.00,8.90,1.54,60,0,0,23,59,89.95,...,0,0,0,1,0,0,0,0,0,0
31,994.40,29.00,9.70,1.54,60,0,0,0,30,117.67,...,0,0,0,1,0,0,0,0,0,0

0       51.00
1       -6.00
2        1.00
3      -10.00
4       17.00
        ...
1977   -11.00
1978    -7.00
1981   -12.00
1982   -24.00
1983    92.00
Name: Arrival Delay (Minutes), Length: 1916, dtype: float64

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
Name: Arrival Delay (Minutes), dtype: int64

In [616]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = pd.DataFrame(sc.fit_transform(X_train), columns = X_train.columns, index = X_train.index)
X_test = pd.DataFrame(sc.transform(X_test), columns = X_test.columns, index = X_test.index)

In [654]:
X_train
X_test
y_train
y_test

,Pressure(mb),Temperature(celsius),Dew point(celsius),Wind Speed(m/s),Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),...,Day_Thursday,Day_Wednesday,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD,Day/Night_n,Day_Monday,Day_Tuesday,Day_Friday,Day_Sunday
0,-1.31,-0.62,0.06,-0.52,0.92,1.08,-0.09,0.84,1.88,-1.97,...,-0.40,-0.41,-0.18,2.22,-1.27,2.72,-0.41,-0.41,0.00,-0.42
1,-0.16,-0.83,-0.48,-0.30,0.38,-0.29,-0.09,0.84,0.82,-0.38,...,-0.40,-0.41,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,2.36
2,-0.12,-0.88,-0.38,-0.97,1.24,-0.29,-0.09,0.84,1.32,-1.97,...,-0.40,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,2.36
3,-0.12,-0.88,-0.38,-0.97,1.24,-0.29,-0.09,0.84,1.32,-1.97,...,-0.40,-0.41,-0.18,-0.45,0.79,2.72,-0.41,-0.41,0.00,2.36
4,0.21,-1.63,-1.10,-0.07,0.81,-0.29,-0.09,0.84,1.66,-1.97,...,-0.40,-0.41,-0.18,2.22,-1.27,2.72,-0.41,-0.41,0.00,2.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977,0.19,0.20,0.07,-0.30,-0.15,-0.29,-0.09,-0.35,-0.46,-1.00,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
1978,0.21,0.04,-0.06,-0.07,-0.15,-0.29,-0.09,-1.02,-0.40,-1.97,...,-0.40,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42
1981,-0.35,-0.52,-0.16,-0.75,-1.12,-0.29,-0.09,-0.87,0.82,-0.38,...,-0.40,-0.41,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
1982,-1.07,-0.16,0.38,-0.75,-1.01,2.44,-0.09,-2.29,1.32,-0.98,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
1983,-0.83,-0.22,0.39,-0.97,-1.12,-0.29,-0.09,-2.69,1.54,-1.97,...,-0.40,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42

,Pressure(mb),Temperature(celsius),Dew point(celsius),Wind Speed(m/s),Wind Direction(degrees),Precipitation(mm),Snowfall(mm),Cloud Cover(%),Humidity(%),Solar radiaton ((W/m^2)),...,Day_Thursday,Day_Wednesday,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD,Day/Night_n,Day_Monday,Day_Tuesday,Day_Friday,Day_Sunday
0,-0.43,-0.01,-0.38,-0.75,0.70,-0.29,-0.09,0.84,-0.90,-1.97,...,-0.40,2.44,-0.18,-0.45,0.79,2.72,-0.41,-0.41,0.00,-0.42
1,-0.47,0.50,-0.27,-0.75,0.49,-0.29,-0.09,-1.02,-1.51,1.23,...,-0.40,2.44,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
2,-1.03,1.21,0.17,1.77,0.60,-0.29,-0.09,-1.02,-1.79,0.54,...,-0.40,2.44,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
3,-0.80,0.30,0.05,-0.30,0.17,-0.29,-0.09,-2.88,-0.68,-1.97,...,2.49,-0.41,-0.18,-0.45,0.79,2.72,-0.41,-0.41,0.00,-0.42
4,-0.71,1.21,0.22,0.38,0.49,-0.29,-0.09,-2.88,-1.74,1.23,...,2.49,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
5,-0.99,1.46,0.24,1.54,0.70,-0.29,-0.09,-2.88,-1.96,0.55,...,2.49,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
6,-0.53,-0.04,-0.05,-1.46,-2.29,-0.29,-0.09,-1.28,-0.18,-1.97,...,-0.40,-0.41,-0.18,-0.45,0.79,2.72,-0.41,-0.41,0.00,-0.42
7,-0.31,1.15,0.12,-0.99,1.02,-0.29,-0.09,-2.88,-1.79,1.24,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
8,-0.65,1.42,0.10,-0.76,-1.44,-0.29,-0.09,-2.88,-2.07,0.55,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
9,-0.86,-0.13,0.15,-1.22,-1.22,-0.29,-0.09,0.43,0.54,-1.97,...,-0.40,-0.41,-0.18,-0.45,0.79,2.72,-0.41,-0.41,0.00,-0.42
10,-0.76,1.24,0.52,-0.76,-2.19,-0.29,-0.09,-2.88,-1.40,1.24,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
11,-1.06,1.42,0.32,-0.53,-2.19,-0.29,-0.09,0.58,-1.85,0.56,...,-0.40,-0.41,-0.18,-0.45,0.79,-0.37,-0.41,-0.41,0.00,-0.42
12,-0.39,0.34,-0.46,-0.75,0.44,-0.29,-0.09,-0.35,-1.57,1.08,...,-0.40,2.44,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
13,-0.67,1.06,0.13,1.09,0.49,-0.29,-0.09,-2.88,-1.68,1.09,...,2.49,-0.41,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
14,-0.32,0.96,0.04,-1.22,1.13,-0.29,-0.09,-2.51,-1.68,1.10,...,-0.40,-0.41,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
15,-0.67,1.15,0.34,-1.22,-1.65,-0.29,-0.09,-2.32,-1.51,1.10,...,-0.40,-0.41,-0.18,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
16,-0.43,-0.01,-0.38,-0.75,0.70,-0.29,-0.09,0.84,-0.90,-1.97,...,-0.40,2.44,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42
17,-1.02,1.06,0.03,2.26,0.60,-0.29,-0.09,-1.02,-1.79,-0.80,...,-0.40,2.44,5.56,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
18,-0.80,0.30,0.05,-0.30,0.17,-0.29,-0.09,-2.88,-0.68,-1.97,...,2.49,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42
19,-0.94,1.31,-0.06,0.15,0.60,-0.29,-0.09,-1.95,-2.12,-0.78,...,2.49,-0.41,5.56,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
20,-0.53,-0.04,-0.05,-1.46,-2.29,-0.29,-0.09,-1.28,-0.18,-1.97,...,-0.40,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42
21,-0.71,1.24,-0.07,-1.22,-2.08,-0.29,-0.09,-1.06,-2.07,-0.76,...,-0.40,-0.41,5.56,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
22,-0.86,-0.13,0.15,-1.22,-1.22,-0.29,-0.09,0.43,0.54,-1.97,...,-0.40,-0.41,5.56,-0.45,-1.27,2.72,-0.41,-0.41,0.00,-0.42
23,-0.98,1.24,0.52,-0.53,-0.05,-0.29,-0.09,-0.80,-1.40,-0.74,...,-0.40,-0.41,5.56,-0.45,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
24,-0.30,0.09,-0.34,-0.52,0.38,-0.29,-0.09,0.35,-1.01,0.46,...,-0.40,2.44,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
25,-0.80,0.96,0.13,0.38,0.70,-0.29,-0.09,-1.51,-1.57,1.24,...,-0.40,2.44,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
26,-0.67,0.85,0.12,0.15,0.38,-0.29,-0.09,-2.88,-1.46,0.47,...,2.49,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
27,-0.80,1.36,0.26,1.32,0.27,-0.29,-0.09,-2.88,-1.85,1.25,...,2.49,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
28,-0.37,0.32,0.14,-1.46,-2.29,-0.29,-0.09,-0.73,-0.57,0.48,...,-0.40,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
29,-0.04,1.33,0.02,-1.46,-2.29,-0.29,-0.09,-2.66,-2.07,1.25,...,-0.40,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
30,-0.68,0.32,0.34,-1.22,-1.65,-0.29,-0.09,-2.03,-0.12,0.50,...,-0.40,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42
31,-0.88,1.42,0.42,-1.22,-1.65,-0.29,-0.09,-2.88,-1.74,1.26,...,-0.40,-0.41,-0.18,2.22,-1.27,-0.37,-0.41,-0.41,0.00,-0.42

0       51.00
1       -6.00
2        1.00
3      -10.00
4       17.00
        ...
1977   -11.00
1978    -7.00
1981   -12.00
1982   -24.00
1983    92.00
Name: Arrival Delay (Minutes), Length: 1916, dtype: float64

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
Name: Arrival Delay (Minutes), dtype: int64

In [617]:
model1 = LinearRegression(fit_intercept = True)
model1.fit(X_train, y_train) 

# The following gives the R-square score
model1.score(X_train, y_train) 

# This is the coefficient Beta_1, ..., Beta_7
model1.coef_

# This is the coefficient Beta_0
model1.intercept_

LinearRegression()

0.02042319671260906

array([-1.7356569 ,  6.04412476, -3.69406622,  2.12744736, -3.08237232,
       -1.7158687 , -0.58342507, -0.47956727,  2.59633124,  2.14971101,
       -1.14131626, -3.43751938,  3.62721953, -0.89916257,  0.32168284,
       -0.23586664, -1.24469573,  2.85647787,  4.39203038,  0.4334321 ,
       -2.33486995, -0.84805096,  1.00930494,  0.        ,  0.97454028])

10.206158663883082

In [618]:
test_output1 = pd.DataFrame(model1.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output1.head()
test_output1

   pred_arrival_delay
0              -16.30
1                0.14
2               13.62
3               -7.52
4                6.96

    pred_arrival_delay
0               -16.30
1                 0.14
2                13.62
3                -7.52
4                 6.96
5                16.56
6                -3.36
7                 2.22
8                18.41
9                -4.85
10               14.33
11               22.35
12                0.29
13                8.47
14                1.54
15               12.05
16               -2.78
17               28.83
18                5.99
19               28.36
20               10.15
21               33.53
22                8.66
23               30.77
24                8.00
25               15.65
26               15.07
27               22.32
28               18.82
29               23.89
30               19.36
31               24.67

In [619]:
#test_output = test_output.merge(y_test, left_index = True, right_index = True)
#test_output.head()
#mean_absolute_error = abs(test_output['pred_arrival_delay'] - test_output['Arrival Delay (Minutes)']).mean()
#print('Mean absolute error is ')
#print(mean_absolute_error)

In [620]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output1['Status (Early, On-time, Late, Severly Late)'] = test_output1['pred_arrival_delay'].apply(categorize_flight_delays)

In [621]:
import pandas as pd
output = pd.DataFrame()
output['Actual_Prediction'] = pd.DataFrame(Actual_output['Status (Early, On-time, Late, Severly Late)'])

In [622]:
output['LR_Prediction'] = pd.DataFrame(test_output1['Status (Early, On-time, Late, Severly Late)'])
output

   Actual_Prediction LR_Prediction
0              Early          Late
1            On-Time       On-time
2            On-Time         Early
3               Late       On-time
4              Early       On-time
5            On-Time         Early
6            On-Time       On-time
7              Early       On-time
8              Early         Early
9              Early       On-time
10             Early         Early
11     Severely Late         Early
12     Severely Late       On-time
13           On-Time       On-time
14           On-Time       On-time
15     Severely Late         Early
16             Early       On-time
17             Early         Early
18             Early       On-time
19             Early         Early
20             Early         Early
21           On-Time         Early
22             Early       On-time
23     Severely Late         Early
24             Early       On-time
25           On-time         Early
26           On-Time         Early
27             Early         Early
28           On-Time         Early
29             Early         Early
30              Late         Early
31          Canceled         Early

In [623]:
from sklearn.ensemble import RandomForestRegressor

model2 = RandomForestRegressor(random_state=2)
model2.fit(X_train, y_train) 

# The following gives the R-square score
model2.score(X_train, y_train)

RandomForestRegressor(random_state=2)

0.8279260907303766

In [624]:
test_output2 = pd.DataFrame(model2.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output2.head()
test_output2

   pred_arrival_delay
0               69.60
1                2.26
2               42.66
3               67.37
4               12.01

    pred_arrival_delay
0                69.60
1                 2.26
2                42.66
3                67.37
4                12.01
5               145.91
6                58.17
7                 8.32
8                94.44
9                67.68
10               13.47
11              172.81
12               -5.97
13               35.99
14               17.10
15               16.70
16                2.49
17               27.10
18               16.84
19               40.81
20               17.45
21               57.78
22                5.63
23               25.90
24               12.98
25               25.76
26               30.16
27               48.39
28               22.44
29               80.35
30               15.09
31               33.01

In [625]:
test_output2

    pred_arrival_delay
0                69.60
1                 2.26
2                42.66
3                67.37
4                12.01
5               145.91
6                58.17
7                 8.32
8                94.44
9                67.68
10               13.47
11              172.81
12               -5.97
13               35.99
14               17.10
15               16.70
16                2.49
17               27.10
18               16.84
19               40.81
20               17.45
21               57.78
22                5.63
23               25.90
24               12.98
25               25.76
26               30.16
27               48.39
28               22.44
29               80.35
30               15.09
31               33.01

In [626]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output2['Status (Early, On-time, Late, Severly Late)'] = test_output2['pred_arrival_delay'].apply(categorize_flight_delays)

In [627]:
test_output2

    pred_arrival_delay Status (Early, On-time, Late, Severly Late)
0                69.60                                       Early
1                 2.26                                     On-time
2                42.66                                       Early
3                67.37                                       Early
4                12.01                                       Early
5               145.91                                       Early
6                58.17                                       Early
7                 8.32                                     On-time
8                94.44                                       Early
9                67.68                                       Early
10               13.47                                       Early
11              172.81                                       Early
12               -5.97                                     On-time
13               35.99                                       Early
14               17.10                                       Early
15               16.70                                       Early
16                2.49                                     On-time
17               27.10                                       Early
18               16.84                                       Early
19               40.81                                       Early
20               17.45                                       Early
21               57.78                                       Early
22                5.63                                     On-time
23               25.90                                       Early
24               12.98                                       Early
25               25.76                                       Early
26               30.16                                       Early
27               48.39                                       Early
28               22.44                                       Early
29               80.35                                       Early
30               15.09                                       Early
31               33.01                                       Early

In [628]:
output['RFR_Prediction'] = pd.DataFrame(test_output2['Status (Early, On-time, Late, Severly Late)'])
output

   Actual_Prediction LR_Prediction RFR_Prediction
0              Early          Late          Early
1            On-Time       On-time        On-time
2            On-Time         Early          Early
3               Late       On-time          Early
4              Early       On-time          Early
5            On-Time         Early          Early
6            On-Time       On-time          Early
7              Early       On-time        On-time
8              Early         Early          Early
9              Early       On-time          Early
10             Early         Early          Early
11     Severely Late         Early          Early
12     Severely Late       On-time        On-time
13           On-Time       On-time          Early
14           On-Time       On-time          Early
15     Severely Late         Early          Early
16             Early       On-time        On-time
17             Early         Early          Early
18             Early       On-time          Early
19             Early         Early          Early
20             Early         Early          Early
21           On-Time         Early          Early
22             Early       On-time        On-time
23     Severely Late         Early          Early
24             Early       On-time          Early
25           On-time         Early          Early
26           On-Time         Early          Early
27             Early         Early          Early
28           On-Time         Early          Early
29             Early         Early          Early
30              Late         Early          Early
31          Canceled         Early          Early

In [629]:
from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor(random_state = 2)

model3.fit(X_train, y_train) 

# The following gives the R-square score
model3.score(X_train, y_train)

DecisionTreeRegressor(random_state=2)

1.0

In [630]:
test_output3 = pd.DataFrame(model3.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output3.head()
test_output3

   pred_arrival_delay
0              155.00
1               -2.00
2               31.00
3              155.00
4               44.00

    pred_arrival_delay
0               155.00
1                -2.00
2                31.00
3               155.00
4                44.00
5               -22.00
6               155.00
7                -5.00
8               -15.00
9               155.00
10               92.00
11              794.00
12               -9.00
13               44.00
14              -15.00
15               -1.00
16               -2.00
17              -21.00
18               -1.00
19               -1.00
20               58.00
21               75.00
22              -14.00
23              -10.00
24               -3.00
25               34.00
26               34.00
27              -15.00
28              108.00
29              -17.00
30              131.00
31              -15.00

In [631]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output3['Status (Early, On-time, Late, Severly Late)'] = test_output3['pred_arrival_delay'].apply(categorize_flight_delays)

In [632]:
test_output3

    pred_arrival_delay Status (Early, On-time, Late, Severly Late)
0               155.00                                       Early
1                -2.00                                     On-time
2                31.00                                       Early
3               155.00                                       Early
4                44.00                                       Early
5               -22.00                                        Late
6               155.00                                       Early
7                -5.00                                     On-time
8               -15.00                                        Late
9               155.00                                       Early
10               92.00                                       Early
11              794.00                                       Early
12               -9.00                                     On-time
13               44.00                                       Early
14              -15.00                                        Late
15               -1.00                                     On-time
16               -2.00                                     On-time
17              -21.00                                        Late
18               -1.00                                     On-time
19               -1.00                                     On-time
20               58.00                                       Early
21               75.00                                       Early
22              -14.00                                        Late
23              -10.00                                        Late
24               -3.00                                     On-time
25               34.00                                       Early
26               34.00                                       Early
27              -15.00                                        Late
28              108.00                                       Early
29              -17.00                                        Late
30              131.00                                       Early
31              -15.00                                        Late

In [633]:
output['DTR_Prediction'] = pd.DataFrame(test_output3['Status (Early, On-time, Late, Severly Late)'])
output

   Actual_Prediction LR_Prediction RFR_Prediction DTR_Prediction
0              Early          Late          Early          Early
1            On-Time       On-time        On-time        On-time
2            On-Time         Early          Early          Early
3               Late       On-time          Early          Early
4              Early       On-time          Early          Early
5            On-Time         Early          Early           Late
6            On-Time       On-time          Early          Early
7              Early       On-time        On-time        On-time
8              Early         Early          Early           Late
9              Early       On-time          Early          Early
10             Early         Early          Early          Early
11     Severely Late         Early          Early          Early
12     Severely Late       On-time        On-time        On-time
13           On-Time       On-time          Early          Early
14           On-Time       On-time          Early           Late
15     Severely Late         Early          Early        On-time
16             Early       On-time        On-time        On-time
17             Early         Early          Early           Late
18             Early       On-time          Early        On-time
19             Early         Early          Early        On-time
20             Early         Early          Early          Early
21           On-Time         Early          Early          Early
22             Early       On-time        On-time           Late
23     Severely Late         Early          Early           Late
24             Early       On-time          Early        On-time
25           On-time         Early          Early          Early
26           On-Time         Early          Early          Early
27             Early         Early          Early           Late
28           On-Time         Early          Early          Early
29             Early         Early          Early           Late
30              Late         Early          Early          Early
31          Canceled         Early          Early           Late

In [634]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression
LinR = LinearRegression()
model4 = AdaBoostRegressor(base_estimator=LinR,random_state=2)

model4.fit(X_train, y_train) 

# The following gives the R-square score
model4.score(X_train, y_train)

AdaBoostRegressor(base_estimator=LinearRegression(), random_state=2)

-1.5445359254031135

In [635]:
test_output4 = pd.DataFrame(model4.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output4.head()
test_output4

   pred_arrival_delay
0              -54.49
1              -17.85
2               50.32
3               56.99
4               28.56

    pred_arrival_delay
0               -54.49
1               -17.85
2                50.32
3                56.99
4                28.56
5                59.28
6               135.06
7                70.10
8               135.97
9                -4.58
10              110.76
11               23.49
12              -49.68
13               30.99
14               50.59
15               53.90
16             -132.78
17               38.57
18               -9.90
19               34.42
20               56.76
21               77.20
22              -67.88
23               59.85
24              -34.21
25               31.73
26               39.05
27               55.53
28              121.86
29              105.05
30               88.08
31               86.55

In [636]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output4['Status (Early, On-time, Late, Severly Late)'] = test_output4['pred_arrival_delay'].apply(categorize_flight_delays)

In [637]:
test_output4

    pred_arrival_delay Status (Early, On-time, Late, Severly Late)
0               -54.49                               Severely Late
1               -17.85                                        Late
2                50.32                                       Early
3                56.99                                       Early
4                28.56                                       Early
5                59.28                                       Early
6               135.06                                       Early
7                70.10                                       Early
8               135.97                                       Early
9                -4.58                                     On-time
10              110.76                                       Early
11               23.49                                       Early
12              -49.68                               Severely Late
13               30.99                                       Early
14               50.59                                       Early
15               53.90                                       Early
16             -132.78                               Severely Late
17               38.57                                       Early
18               -9.90                                     On-time
19               34.42                                       Early
20               56.76                                       Early
21               77.20                                       Early
22              -67.88                               Severely Late
23               59.85                                       Early
24              -34.21                               Severely Late
25               31.73                                       Early
26               39.05                                       Early
27               55.53                                       Early
28              121.86                                       Early
29              105.05                                       Early
30               88.08                                       Early
31               86.55                                       Early

In [638]:
output['ABR_Prediction'] = pd.DataFrame(test_output4['Status (Early, On-time, Late, Severly Late)'])
output

,Actual_Prediction,LR_Prediction,RFR_Prediction,DTR_Prediction,ABR_Prediction
0,Early,Late,Early,Early,Severely Late
1,On-Time,On-time,On-time,On-time,Late
2,On-Time,Early,Early,Early,Early
3,Late,On-time,Early,Early,Early
4,Early,On-time,Early,Early,Early
5,On-Time,Early,Early,Late,Early
6,On-Time,On-time,Early,Early,Early
7,Early,On-time,On-time,On-time,Early
8,Early,Early,Early,Late,Early
9,Early,On-time,Early,Early,On-time
10,Early,Early,Early,Early,Early
11,Severely Late,Early,Early,Early,Early
12,Severely Late,On-time,On-time,On-time,Severely Late
13,On-Time,On-time,Early,Early,Early
14,On-Time,On-time,Early,Late,Early
15,Severely Late,Early,Early,On-time,Early
16,Early,On-time,On-time,On-time,Severely Late
17,Early,Early,Early,Late,Early
18,Early,On-time,Early,On-time,On-time
19,Early,Early,Early,On-time,Early
20,Early,Early,Early,Early,Early
21,On-Time,Early,Early,Early,Early
22,Early,On-time,On-time,Late,Severely Late
23,Severely Late,Early,Early,Late,Early
24,Early,On-time,Early,On-time,Severely Late
25,On-time,Early,Early,Early,Early
26,On-Time,Early,Early,Early,Early
27,Early,Early,Early,Late,Early
28,On-Time,Early,Early,Early,Early
29,Early,Early,Early,Late,Early
30,Late,Early,Early,Early,Early
31,Canceled,Early,Early,Late,Early

In [639]:
from sklearn.linear_model import Ridge

# create a ridge regression model
model5 = Ridge(alpha=0.1)

# fit the model to the data
model5.fit(X_train, y_train)

Ridge(alpha=0.1)

In [640]:
test_output5 = pd.DataFrame(model5.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output5.head()
test_output5

   pred_arrival_delay
0              -16.29
1                0.13
2               13.60
3               -7.52
4                6.94

    pred_arrival_delay
0               -16.29
1                 0.13
2                13.60
3                -7.52
4                 6.94
5                16.54
6                -3.35
7                 2.20
8                18.38
9                -4.85
10               14.33
11               22.33
12                0.29
13                8.45
14                1.53
15               12.05
16               -2.78
17               28.82
18                6.00
19               28.34
20               10.16
21               33.50
22                8.67
23               30.76
24                8.00
25               15.64
26               15.06
27               22.30
28               18.82
29               23.86
30               19.36
31               24.65

In [641]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output5['Status (Early, On-time, Late, Severly Late)'] = test_output5['pred_arrival_delay'].apply(categorize_flight_delays)

In [642]:
test_output5

    pred_arrival_delay Status (Early, On-time, Late, Severly Late)
0               -16.29                                        Late
1                 0.13                                     On-time
2                13.60                                       Early
3                -7.52                                     On-time
4                 6.94                                     On-time
5                16.54                                       Early
6                -3.35                                     On-time
7                 2.20                                     On-time
8                18.38                                       Early
9                -4.85                                     On-time
10               14.33                                       Early
11               22.33                                       Early
12                0.29                                     On-time
13                8.45                                     On-time
14                1.53                                     On-time
15               12.05                                       Early
16               -2.78                                     On-time
17               28.82                                       Early
18                6.00                                     On-time
19               28.34                                       Early
20               10.16                                       Early
21               33.50                                       Early
22                8.67                                     On-time
23               30.76                                       Early
24                8.00                                     On-time
25               15.64                                       Early
26               15.06                                       Early
27               22.30                                       Early
28               18.82                                       Early
29               23.86                                       Early
30               19.36                                       Early
31               24.65                                       Early

In [643]:
output['LassoR_Prediction'] = pd.DataFrame(test_output5['Status (Early, On-time, Late, Severly Late)'])
output

,Actual_Prediction,LR_Prediction,RFR_Prediction,DTR_Prediction,ABR_Prediction,LassoR_Prediction
0,Early,Late,Early,Early,Severely Late,Late
1,On-Time,On-time,On-time,On-time,Late,On-time
2,On-Time,Early,Early,Early,Early,Early
3,Late,On-time,Early,Early,Early,On-time
4,Early,On-time,Early,Early,Early,On-time
5,On-Time,Early,Early,Late,Early,Early
6,On-Time,On-time,Early,Early,Early,On-time
7,Early,On-time,On-time,On-time,Early,On-time
8,Early,Early,Early,Late,Early,Early
9,Early,On-time,Early,Early,On-time,On-time
10,Early,Early,Early,Early,Early,Early
11,Severely Late,Early,Early,Early,Early,Early
12,Severely Late,On-time,On-time,On-time,Severely Late,On-time
13,On-Time,On-time,Early,Early,Early,On-time
14,On-Time,On-time,Early,Late,Early,On-time
15,Severely Late,Early,Early,On-time,Early,Early
16,Early,On-time,On-time,On-time,Severely Late,On-time
17,Early,Early,Early,Late,Early,Early
18,Early,On-time,Early,On-time,On-time,On-time
19,Early,Early,Early,On-time,Early,Early
20,Early,Early,Early,Early,Early,Early
21,On-Time,Early,Early,Early,Early,Early
22,Early,On-time,On-time,Late,Severely Late,On-time
23,Severely Late,Early,Early,Late,Early,Early
24,Early,On-time,Early,On-time,Severely Late,On-time
25,On-time,Early,Early,Early,Early,Early
26,On-Time,Early,Early,Early,Early,Early
27,Early,Early,Early,Late,Early,Early
28,On-Time,Early,Early,Early,Early,Early
29,Early,Early,Early,Late,Early,Early
30,Late,Early,Early,Early,Early,Early
31,Canceled,Early,Early,Late,Early,Early

In [644]:
from sklearn.linear_model import Lasso

# create a lasso regression model
model6 = Lasso(alpha=0.1)

# fit the model to the data
model6.fit(X_train, y_train)

Lasso(alpha=0.1)

In [645]:
test_output6 = pd.DataFrame(model5.predict(X_test), index = X_test.index, columns = ['pred_arrival_delay'])
# When extending to multiple features remove .array.reshape(-1, 1)
test_output6.head()
test_output6

   pred_arrival_delay
0              -16.29
1                0.13
2               13.60
3               -7.52
4                6.94

    pred_arrival_delay
0               -16.29
1                 0.13
2                13.60
3                -7.52
4                 6.94
5                16.54
6                -3.35
7                 2.20
8                18.38
9                -4.85
10               14.33
11               22.33
12                0.29
13                8.45
14                1.53
15               12.05
16               -2.78
17               28.82
18                6.00
19               28.34
20               10.16
21               33.50
22                8.67
23               30.76
24                8.00
25               15.64
26               15.06
27               22.30
28               18.82
29               23.86
30               19.36
31               24.65

In [646]:
def categorize_flight_delays(delay_minutes):
    if delay_minutes <= -30:
        return 'Severely Late'
    elif delay_minutes <= -10:
        return 'Late'
    elif delay_minutes <= 10:
        return 'On-time'
    else:
        return 'Early'

# Use the 'apply()' method to apply the function to each row in the DataFrame and create a new column 'Status (Early, On-time, Late, Severly Late)'
test_output6['Status (Early, On-time, Late, Severly Late)'] = test_output6['pred_arrival_delay'].apply(categorize_flight_delays)

In [647]:
output['RidgeR_Prediction'] = pd.DataFrame(test_output6['Status (Early, On-time, Late, Severly Late)'])
output

,Actual_Prediction,LR_Prediction,RFR_Prediction,DTR_Prediction,ABR_Prediction,LassoR_Prediction,RidgeR_Prediction
0,Early,Late,Early,Early,Severely Late,Late,Late
1,On-Time,On-time,On-time,On-time,Late,On-time,On-time
2,On-Time,Early,Early,Early,Early,Early,Early
3,Late,On-time,Early,Early,Early,On-time,On-time
4,Early,On-time,Early,Early,Early,On-time,On-time
5,On-Time,Early,Early,Late,Early,Early,Early
6,On-Time,On-time,Early,Early,Early,On-time,On-time
7,Early,On-time,On-time,On-time,Early,On-time,On-time
8,Early,Early,Early,Late,Early,Early,Early
9,Early,On-time,Early,Early,On-time,On-time,On-time
10,Early,Early,Early,Early,Early,Early,Early
11,Severely Late,Early,Early,Early,Early,Early,Early
12,Severely Late,On-time,On-time,On-time,Severely Late,On-time,On-time
13,On-Time,On-time,Early,Early,Early,On-time,On-time
14,On-Time,On-time,Early,Late,Early,On-time,On-time
15,Severely Late,Early,Early,On-time,Early,Early,Early
16,Early,On-time,On-time,On-time,Severely Late,On-time,On-time
17,Early,Early,Early,Late,Early,Early,Early
18,Early,On-time,Early,On-time,On-time,On-time,On-time
19,Early,Early,Early,On-time,Early,Early,Early
20,Early,Early,Early,Early,Early,Early,Early
21,On-Time,Early,Early,Early,Early,Early,Early
22,Early,On-time,On-time,Late,Severely Late,On-time,On-time
23,Severely Late,Early,Early,Late,Early,Early,Early
24,Early,On-time,Early,On-time,Severely Late,On-time,On-time
25,On-time,Early,Early,Early,Early,Early,Early
26,On-Time,Early,Early,Early,Early,Early,Early
27,Early,Early,Early,Late,Early,Early,Early
28,On-Time,Early,Early,Early,Early,Early,Early
29,Early,Early,Early,Late,Early,Early,Early
30,Late,Early,Early,Early,Early,Early,Early
31,Canceled,Early,Early,Late,Early,Early,Early

In [648]:
import pandas as pd

similarity_with_RFR_Prediction= (output['Actual_Prediction'] == output['RFR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_RFR_Prediction: {similarity_with_RFR_Prediction:.2f}%")

similarity_with_RFR_Prediction: 37.50%

In [649]:
import pandas as pd

similarity_with_DTR_Prediction= (output['Actual_Prediction'] == output['DTR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_DTR_Prediction: {similarity_with_DTR_Prediction:.2f}%")

similarity_with_DTR_Prediction: 15.62%

In [650]:
import pandas as pd

similarity_with_ABR_Prediction= (output['Actual_Prediction'] == output['ABR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_ABR_Prediction: {similarity_with_ABR_Prediction:.2f}%")

similarity_with_ABR_Prediction: 31.25%

In [651]:
import pandas as pd

similarity_with_LassoR_Prediction= (output['Actual_Prediction'] == output['LassoR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_LassoR_Prediction: {similarity_with_LassoR_Prediction:.2f}%")

similarity_with_LassoR_Prediction: 21.88%

In [652]:
import pandas as pd

similarity_with_LassoR_Prediction= (output['Actual_Prediction'] == output['LassoR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_LassoR_Prediction: {similarity_with_LassoR_Prediction:.2f}%")

similarity_with_LassoR_Prediction: 21.88%

In [653]:
import pandas as pd

similarity_with_RidgeR_Prediction= (output['Actual_Prediction'] == output['RidgeR_Prediction']).sum() / len(output) * 100

print(f"similarity_with_RidgeR_Prediction: {similarity_with_RidgeR_Prediction:.2f}%")

similarity_with_RidgeR_Prediction: 21.88%